body {
    background-color: rgb(16, 23, 42);
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 0; /* Remove default body margin */
    overflow: hidden; /* Hide default body scrollbar */
  }
  
  .layout {
    display: flex;
    overflow: hidden;
    /* margin: 40px; */
  }
  
.left-column {
  width: 25%;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100%; /* Set the height of the left column to 100% */
  overflow: auto; /* Add scrollbars to the left column */
}
  
  
  .right-column {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px;
    overflow-y: auto;
    height: calc(100vh - 40px); /* Adjusted the height calculation to account for the margins */
  }
  
  .right-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .right-section {
    /* Add styles for each right section */
  }
  
  .section-placeholder {
    height: 400px; /* Adjust the height as desired */
    background-color: white;
  }
  
  /* Media query for window width less than or equal to a certain value */
  @media (max-width: 768px) {
    .layout {
      flex-direction: column; /* Display components in a single column */
    }
  
    .left-column,
    .right-column {
      width: 100%;
      margin: 0; /* Remove margins */
    }
  }
  