.socials {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  
  .socials .social-icon-container {
    display: inline-block;
    margin-right: 20px;
  }
  
  .socials .social-icon-container:last-child {
    margin-right: 0;
  }
  
  .socials svg {
    width: 23px;
    height: 23px;
    fill: #8392a7;
    transition: fill 0.3s;
  }
  
  .socials svg:hover {
    fill: #ffffff;
  }
  