/* Styles for the socials container */
.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

/* Styles for social icons */
.social-icon {
  width: 22px;
  height: 22px;
  margin-right: 20px;
  cursor: pointer;
  fill: "#8392a7";
}
