body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
  background-color: rgb(16, 23, 42);
  color: white;
  font-family: 'Inter', sans-serif;
}

.app {
  height: 100%;
  overflow: auto;
}

.app-content {
  padding: 40px;
}
