@font-face {
  font-family: 'Inter';
  src: url('../public/fonts/Inter-Regular.otf') format('woff'),
       url('../public/fonts/Inter-Bold.otf') format('woff');
  /* Add additional font weights and styles here if needed */
  font-weight: normal;
  font-style: normal;
}


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
