html {
  font-size: calc(1vw + 1vh + .5vmin);
  font-size: min(calc(1vw + 1vh + .5vmin), 16px);
}

body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(16, 23, 42);
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.app {
  height: 100%;
  overflow-x: hidden;
}

.app-content {
  padding: 2.5rem;
  z-index: 3;
  position: relative;
}

#blob {
  background-color: white;
  width: 20vmax;
  height: 20vmax;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.6;
  filter: blur(24vmax);
  pointer-events: none;
}

.rocket {
  height: 1.875rem;
  width: 1.875rem;
  font-size: 1.875rem; /* for emoji */
}

.smoke {
  position: absolute;
  background: rgba(255, 223, 0, 0.2);
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  animation: smokeFade 0.5s forwards;
}

.quick-about {
  overflow: hidden;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes path {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0.1875rem, -0.1875rem);
  } /* adjust here for how far you want the rocket to go */
  100% {
    transform: translate(0, 0);
  }
}

@keyframes smokeFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

/* New styles for the owl cursor */
.owl-cursor:hover {
  cursor: url('/public/owlSprite.gif') 20 40, auto;
}