body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(16, 23, 42);
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.app {
  height: 100%;
  overflow-x: hidden;
}

.app-content {
  padding: 2.5rem;
  z-index: 3;
  position: relative;
}

#blob {
  background-color: white;
  width: 25vmax;
  height: 25vmax;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  opacity: 0.1;
  filter: blur(12vmax);
  pointer-events: none;
}

@media (max-width: 768px) {
  .app-content {
    padding: 0;
  }

  #blob {
    display: none;
  }
}
