body,
html {
  height: 100%;
  margin: 0;
  background-color: rgb(16, 23, 42);
  color: white;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.app {
  height: 100%;
}

.app-content {
  padding: 40px;
  z-index: 3;
  position: relative;
}

#blob {
  background-color: white;
  width: 20vmax;
  height: 20vmax;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.6;
  filter: blur(24vmax);
  pointer-events: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}