/* Loading.css */
.black-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 9999; /* Ensure this is on top of everything so the main site doesn't show */
}
