.terminal-container {
  display: block;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.xterm *::-webkit-scrollbar {
  display: none;
  position: relative;
}

.xterm {
  padding: 8px;
}

.xterm * {
  scrollbar-width: none;
}
